<div class="modal-header">
  <h4 class="modal-title">Adicionar carta</h4>
  <button type="button" class="close" aria-label="Close" (click)="onNoClick()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <app-filter (filterChanged)="onFilterChanged($event)"></app-filter>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-12">
          <div class="card-list-container">
            <app-card-list [filter]="filter" (cardSelected)="onCardSelected($event)"></app-card-list>
          </div>
        </div>
      </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="onNoClick()">Cancelar</button>
</div>