<div class="container mt-4">
    <h2>Coleções</h2>
    <button type="button" class="btn btn-primary" (click)="openAddCollectionModal()">Adicionar Coleção</button>
    <div class="row">
        <div *ngFor="let collection of collections" class="col-lg-3 col-md-6 col-sm-6 mb-3">
            <div class="card d-flex align-items-center">
                <div class="card-body">
                    <h5 class="card-title">{{ collection.name }}</h5>
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger" (click)="deleteCollection(collection)">
                            <span class="bi-trash"></span>
                        </button>
                        <a [routerLink]="['/collection', collection.id]" class="btn btn-info">
                            <span class="bi-info-circle"></span> Detalhes
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>