<div class="container mt-4">
    <h2>Coleções</h2>
    <button type="button" class="btn btn-primary mt-3" (click)="addCollectionModal()">Adicionar Coleção</button>
    <div class="row mt-3">
        <div class="col-md-4" *ngFor="let collection of collections">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ collection.name }}</h5>
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger" (click)="deleteCollection(collection)">
                            <span class="bi-trash"></span>
                        </button>
                        <a [routerLink]="['/collection', collection.id]" class="btn btn-info">
                            <span class="bi-info-circle"></span> Detalhes
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>